PORT=PORT
NODE_ENV=development
DATABASE_URL="postgresql://postgres:password@db:5432/alaska?schema=public"
JWT_SECRET="supersecret_jwt_key_for_local_dev"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
